<div id="manager"class="container-serial" style="display: none">
    <div class="jumbotron">
        <h1 class="display-4">SERIAL NUMBER CREATOR</h1>
        <span location="set-number-field"></span>
        <div class="row" style="margin-left: 10px; margin-right: 10px;">
            <div class="row" style="width: 100%">
                <div class="col-8">

                    <div class="row" style="width: 100%">
                        <label >Serial Set Name</label>
                    </div>
                    <div class="row" style="width: 100%">
                        <span location="set-name-field" style="width: 100%"></span>
                    </div>

                    <div class="row" style="width: 100%; margin-top: 10px">
                        <label >Number Of Serials</label>
                    </div>
                    <div class="row">
                        <span location="set-number-field" style="width: 100%"></span>
                    </div>

                    <div class="row" style="width: 100%; margin-top: 10px">
                        <label >Length Of Serials</label>
                    </div>
                    <div class="row" >
                        <span location="set-length-slider" style="width: 100%"></span>
                    </div>

                </div>
                <div class="col jumbotron" location="set-confuguration-component" style="width: 100%; background-color: #82c1db;">
                </div>
            </div>
            <div class="row" style="width: 100%">
                <div class="col-12" >
                    <div style="float: right">
                        <span location="set-cancel-button">

                        </span>
                        <span location="set-generate-button">

                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 100%">
                <div class="col-12" >
                    <div>
                        <p class="lead" style="margin-top: 20px">
                        <hr class="my-4">
                        <span location="sets-table"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 100%">
                <div class="col-12" >
                    <div style="float: right; margin-top: 5px">
                        <span location="set-generate-all-button">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.$(document).ready(function () {
        var manager = window.$("#manager");
        manager.css("display", "");
    });
</script>
